@{
    ViewData["Title"] = "Home Page";
}

<style>
    table {
        margin: 0 auto;
    }

    table {
        color: #333;
        background: white;
        border: 1px solid grey;
        font-size: 12pt;
        border-collapse: collapse;
        text-align: center
    }

        table thead th,
        table tfoot th {
            color: #777;
            background: rgba(0,0,0,.1);
        }

        table caption {
            padding: .5em;
        }

        table th,
        table td {
            padding: .5em;
            border: 1px solid lightgrey;
        }
</style>

<div style="border: 1px solid black; margin-left: auto; margin-right: auto; width: 800px;text-align: center ">
    <h1>Welcome to Ticket Service</h1>

    <div style="border: 1px dashed black; padding: 20px">

        <h3>Dodaj novu kartu:</h3>

        <form action="/Home/AddTicket" method="post">
            <label>Tip prevoza:</label>

            <select name="transportationType">
                <option value="Avion">Avion</option>
                <option value="Autobus">Autobus</option>
                <option value="Voz">Voz</option>
            </select>

            <label>Datum polaska:</label>
            <input type="date" name="departureDate" />

            <label>Datum povratka (opciono):</label>
            <input type="date" name="returnDate" />

            <div style="margin-top: 20px; text-align: center">
                <button type="submit">Dodaj kartu</button>
            </div>
        </form>
    </div>

    <div style="border: 1px dashed black; padding: 20px">
        <h3>Karte u sistemu:</h3>

        <button type="button" id="addressSearch"
                onclick="location.href='@Url.Action("GetActiveTickets", "Home")'">
            Dobavi sve karte
        </button>
        <div>
            <table>
                <tr>
                    <th>Redni broj</th>
                    <th>Tip prevoza</th>
                    <th>Datum polaska</th>
                    <th>Datum povratka</th>
                    <th>Status</th>
                </tr>
                @for (var i = 0; i < @ViewBag?.activeTickets?.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@ViewBag?.activeTickets[i]?.TransportationType</td>
                        <td>@ViewBag?.activeTickets[i]?.DepartureTime</td>
                        <td>@ViewBag?.activeTickets[i]?.ReturnTime</td>
                        <td>Aktivan</td>
                        <td><button type="button" onclick="location.href='@Url.Action("ArchiveAirplane", "Home")'">Kupi</button></td>
                    </tr>
                }
            </table>
        </div>
    </div>


    <div style="border: 1px dashed black; padding: 20px">
        <h3>Istorija karata:</h3>

        <div>
            <table>
                <tr>
                    <th>Redni broj</th>
                    <th>Tip prevoza</th>
                    <th>Datum polaska</th>
                    <th>Datum povratka</th>
                    <th>Status</th>
                </tr>
               
                <tr>
                    <td>1</td>
                    <td>Avion</td>
                    <td>01. februar 2022</td>
                    <td>22. februar 2022</td>
                    <td>Arhiviran</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Voz</td>
                    <td>10. februar 2022</td>
                    <td>23. februar 2022</td>
                    <td>Arhiviran</td>
                </tr>
            </table>
        </div>
    </div>
</div>